.container {
	border-left: 3px inset gray;
	border-right: 3px outset gray;
	background-color: White;
}
.navbar {
	margin-bottom: 0px;
}
#contact {
	border-bottom: 3px outset gray;
}
body {
	background-color: #B8CFD6;
}
#pimg {
	border-radius: 50%;
	margin-bottom: 5px;
}
hr {
	border-style: solid;
	border-color: grey;
}
