#content .container {
	border-bottom: 1px solid grey;
	margin-bottom: 30px;
}
body {
	background-color: #B8CFD6;
}
#content #about p {
	float:left;
}
#pimg {
	border-radius: 50%;
	float: right;
}
