.container {
	border-left: 5px inset black;
	border-right: 5px outset black;
	background-color: White;
}
#contact {
	border-bottom: 5px outset black;
}
body {
	background-color: #B8CFD6;
}
#about p {
	float:left;
}
#pimg {
	border-radius: 50%;
	float: right;
	margin-bottom: 5px;
}
hr {
	border-style: solid;
	border-color: grey;
}
